<article class="control-container">
  <h1 class="aligned-center"><%= t('views.labels.session_slogan') %></h1>

  <%= form_with url: sessions_path, method: :post do |f| %>
    <div class="field">
      <%= f.label t('views.labels.email') %>
      <%= f.email_field :email, autocomplete: :off, required: true %>
    </div>

    <div class="field">
      <%= f.label t('views.labels.password') %>
      <%= f.password_field :password, autocomplete: :off, required: true %>
    </div>

    <div class="buttons-group">
      <%= f.submit t('views.labels.confirm'), class: 'btn btn__primary' %>
      <div class="links-group">
        <%= link_to t('views.labels.create_account'), new_registration_path, class: 'link' %>
        <%= link_to t('views.labels.forgot_password'), recover_passwords_path, class: 'link' %>
      </div>
    </div>
  <% end %>
</article>
