<p>
  Welcome
  <%= @user.email %>

  Someone request reset password for this account.
</p>
<p>Click a link to redirect to reset password form.</p>
<p><%= link_to 'Confirm', edit_password_url(token: @user.reset_token) %></p>      
