<article>
  <%= render partial: 'shared/breadcrumbs' %>
  <%= render partial: 'shared/form_errors', locals: { errors: @errors } %>
  <section class="recipe__container">
    <%= form_with model: recipe, url: path, method: method do |f| %>
      <div class="flex__row flex__column--mobile">
        <div class="flex__column flex__column--50" data-controller="image-target">
          <%= image_tag default_image(recipe, :medium), alt: recipe.name, data: { target: 'image-target.image' } %>
          <%- if recipe.cached_image_data.present? %>
            <%= f.hidden_field :image, value: recipe.cached_image_data, id: 'file' %>
          <% end %>
          <%= f.file_field :image, data: { action: 'change->image-target#previewImage' }, accept: allowed_image_extensions %>
          <%= f.label :image, t('views.labels.select_image') %>
        </div>

        <div class="flex__column flex__column--50">
          <div class="field">
            <%= f.label t('views.labels.title') %>
            <%= f.text_field :name, autocomplete: :off %>
          </div>
          <div class="field">
            <%= f.label t('views.labels.description') %>
            <%= f.text_area :description, autocomplete: :off, rows: 10 %>
          </div>
        </div>
      </div>

      <div class="flex__column b-margin">
        <h4 class="capitalized">
          <%= t('views.labels.ingredients') %>
        </h4>
        <div class="recipe__steps-container flex__column">
          <%= f.fields_for :recipe_ingredients do |r| %>
            <%= render partial: 'recipes/nested/recipe_ingredients', locals: { r: r } %>
          <% end %>
          <%= add_nested_field(f, :recipe_ingredients) %>
        </div>
      </div>

      <div class="flex__column b-margin">
        <h4 class="capitalized">
          <%= t('views.labels.additional_info') %>
        </h4>
        <div class="flex__row flex__column--mobile">
          <div class="flex__column flex__column--50">
            <div class="field">
              <%= f.label t('views.labels.portions') %>
              <%= f.number_field :servings, value: f.object.servings || 2, autocomplete: :off, step: 1, min: 1 %>
            </div>
            <div class="field">
              <%= f.label t('views.labels.difficulty') %>
              <%= f.select :difficulty, recipe_difficulties, { prompt: t('views.labels.select') }, autocomplete: :off, class: 'full-width' %>
            </div>
          </div>

          <div class="flex__column flex__column--50">
            <div class="flex__row">
              <%= f.fields_for :prep_time, recipe_time_object(recipe, :prep_time) do |t| %>
                <div class="field r-margin--small">
                  <%= t.label t('views.labels.prep_time') %>
                  <%= t.number_field :hours, step: 1, min: 0, list: [12, 33], autocomplete: :off, placeholder: t('views.labels.hours') %>
                </div>
                <div class="field align-s-fe">
                  <%= t.number_field :minutes, step: 1, min: 0, autocomplete: :off, placeholder: t('views.labels.minutes') %>
                </div>
              <% end %>
            </div>

            <div class="flex__row">
              <%= f.fields_for :cook_time, recipe_time_object(recipe, :cook_time) do |t|%>
                <div class="field r-margin--small">
                  <%= t.label t('views.labels.cooking_time') %>
                  <%= t.number_field :hours, step: 1, min: 0, autocomplete: :off, placeholder: t('views.labels.hours') %>
                </div>
                <div class="field align-s-fe">
                  <%= t.number_field :minutes, step: 1, min: 0, autocomplete: :off, placeholder: t('views.labels.minutes') %>
                </div>
              <% end %>
            </div>

            <div class="flex__row">
              <%= f.fields_for :total_time, recipe_time_object(recipe, :total_time) do |t| %>
                <div class="field r-margin--small">
                  <%= t.label t('views.labels.total_time') %>
                  <%= t.number_field :hours, step: 1, min: 0, autocomplete: :off, placeholder: t('views.labels.hours') %>
                </div>
                <div class="field align-s-fe">
                  <%= t.number_field :minutes, step: 1, min: 0, autocomplete: :off, placeholder: t('views.labels.minutes') %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="flex__column b-margin">
        <h4 class="capitalized">
          <%= t('views.labels.categories') %>
        </h4>
        <div class="autocomplete__wrapper b-margin" data-controller="autocomplete" data-autocomplete-resource="categories">
          <div class="flex__row b-margin--small">
            <%= search_field_tag :search, nil,
                                          autocomplete: :off,
                                          placeholder: t('views.labels.search_placeholder'),
                                          data: {
                                            action: 'keypress->autocomplete#submit input->autocomplete#listSuggestions',
                                            target: 'autocomplete.autocompleteField'
                                          }
            %>
            <button type="button"
                    name="button"
                    class="btn__circled btn__circled--small btn__circled__primary btn__circled--plus"
                    data-action="click->autocomplete#submit"
            >
            </button>
          </div>
          <ul class="autocomplete__results" data-target="autocomplete.suggestionsContainer"></ul>
          <ul class="recipe__categories" data-target="autocomplete.tagsContainer">
            <%= f.fields_for :categories do |r| %>
              <%= render partial: 'recipes/nested/categories', locals: { r: r } %>
            <% end %>
          </ul>
          <div id="categoriesChild">
            <%= link_to '#', '#', data: { target: 'autocomplete.cancer', 'nodes': render_assoc(f, :categories) }, class: 'hidden' %>
          </div>
        </div>
      </div>

      <div class="flex__column b-margin">
        <h4 class="capitalized">
          <%= t('views.labels.cuisines') %>
        </h4>
        <div class="autocomplete__wrapper b-margin" data-controller="autocomplete" data-autocomplete-resource="cuisines">
          <div class="flex__row b-margin--small">
            <%= search_field_tag :search, nil,
                                          autocomplete: :off,
                                          placeholder: t('views.labels.search_placeholder'),
                                          data: {
                                            action: 'keypress->autocomplete#submit input->autocomplete#listSuggestions',
                                            target: 'autocomplete.autocompleteField'
                                          }
            %>
            <button type="button"
                    name="button"
                    class="btn__circled btn__circled--small btn__circled__primary btn__circled--plus"
                    data-action="click->autocomplete#submit"
            >
            </button>
          </div>
          <ul class="autocomplete__results" data-target="autocomplete.suggestionsContainer"></ul>
          <ul class="recipe__categories" data-target="autocomplete.tagsContainer">
            <%= f.fields_for :cuisines do |r| %>
              <%= render partial: 'recipes/nested/cuisines', locals: { r: r } %>
            <% end %>
          </ul>
          <div id="cuisinesChild">
            <%= link_to '#', '#', data: { target: 'autocomplete.cancer', 'nodes': render_assoc(f, :cuisines) }, class: 'hidden' %>
          </div>
        </div>
      </div>

      <div class="flex__column b-margin">
        <h4 class="capitalized">
          <%= t('views.labels.steps') %>
        </h4>
        <div class="flex__column recipe__steps-container">
          <%= f.fields_for :recipe_instructions do |r| %>
            <%= render partial: 'recipes/nested/recipe_instructions', locals: { r: r } %>
          <% end %>
          <%= add_nested_field(f, :recipe_instructions) %>
        </div>
      </div>

      <div class="buttons-group">
        <%= f.submit 'Submit', class: 'btn btn__primary' %>
        <%= link_to safe_back_recipe_path(bucket) do %>
          <button type="button" name="button" class="btn btn__secondary">
            <%= t('views.labels.cancel') %>
          </button>
        <% end %>
      </div>
    <% end %>
  </section>
</article>
