<%- bucket = bucket.blank? ? recipe.bucket : bucket %>

<div class="card__item flex__column"
     data-controller="bucket"
     data-bucket-path="<%= bucket_recipe_path(bucket.slug, recipe) %>"
>
  <div class="flex__column pointer" data-action="click->bucket#openRow">
    <%= image_tag default_image(recipe, :small), alt: recipe.name %>
  </div>
  <div class="flex__column pointer" data-action="click->bucket#openRow">
    <%= recipe.name %>
  </div>
  <%- if current_page?(controller: 'recipes', action: :my_collection) %>
    <div class="flex__column">
      <%= link_to recipe.bucket.name, bucket_path(bucket.slug), class: 'link', 'aria-label': bucket.name %>
    </div>
  <% end %>
  <div class="flex__column align-i-c pointer" data-action="click->bucket#openRow">
    <div class="recipe__icon recipe__icon--ingredients" title="<%= t('views.labels.total_ingredients') %>">
      <%= recipe.recipe_ingredients_count %>
    </div>
    <div class="recipe__icon recipe__icon--time" title="<%= t('views.labels.total_time') %>">
      <%= recipe.total_cooking %>
    </div>
    <%- if recipe.difficulty.present? %>
      <div class=" recipe__icon recipe__icon--level">
        <%= t("views.labels.#{recipe.difficulty}") %>
      </div>
    <% end %>
  </div>
  <div class="flex__row just-c-se">
    <%= link_to download_pdf_bucket_recipe_path(bucket.slug, recipe),
        'aria-label': t('views.labels.download_pdf'),
        data: {
          controller: 'target-window',
          action: 'click->target-window#openWindow'
        } do
    %>
      <div class="btn__circled btn__circled__primary btn__circled--pdf btn__circled--very-small"></div>
    <% end %>
    <%= link_to edit_bucket_recipe_path(bucket.slug, recipe), 'aria-label': t('views.labels.edit') do %>
      <div class="btn__circled btn__circled__primary btn__circled--edit btn__circled--very-small"></div>
    <% end %>
    <%= render partial: 'shared/delete_dialog',
               locals: {
                hash: {
                  form_path: bucket_recipe_path(bucket.slug, recipe),
                  name:      recipe.name
                }
              }
    %>
  </div>
</div>
