<%= render partial: 'form',
           locals: {
             recipe: @recipe,
             bucket: @bucket,
             method: :put,
             path:   bucket_recipe_path(@bucket.slug, @recipe)
           }
%>
