<article data-controller="search">
  <section class="flex__row b-margin just-c-sb">
    <%= form_with url: my_collection_recipes_path, method: :get, class: 'full-width', html: { data: { action: 'submit->search#validateForm' } } do %>
      <div class="flex__row flex__column--mobile">
        <%= search_field_tag :search, params[:search],
                                      autocomplete: :off,
                                      placeholder: t('views.labels.search_placeholder'),
                                      data: {
                                        target: 'search.input',
                                        action: 'input->search#validate'
                                      }
        %>
        <%= submit_tag t('views.labels.search'), class: 'btn btn__primary align-s-c t-margin--small',
                                                 data: { target: 'search.submit' },
                                                 disabled: 'disabled'
        %>
      </div>
    <% end %>
    <div class="flex__column" data-target="search.filterContainer"></div>
  </section>
  <section class="flex__row flex__column--mobile b-margin just-c-fs">
    <%= link_to t('views.labels.all_buckets'), buckets_path, class: 'link link--underline r-margin' %>
    <%= link_to t('views.labels.clear'), my_collection_recipes_path, class: 'link link--underline r-margin' %>
  </section>
  <section class="cards__container" data-target="search.container">
    <div class="loader spinner paginate__loader spinner--quick hidden " data-target="search.loader"></div>
    <%= render partial: 'recipes/recipe_item', collection: @recipes, as: :recipe, locals: { bucket: nil } %>
  </section>
  <%- if @recipes.size.eql?(Constants::DEFAULT_PAGINATION_SIZE) %>
    <button type="button"
            name="button"
            class="btn btn__primary btn--load-more centered-element"
            data-resource="recipes"
            data-params="<%= params.slice(:search).to_json %>"
            data-page="<%= current_page %>"
            data-target="search.buttonLoader"
            data-action="click->search#retrieveRecords"
    >
      <%= t('views.labels.load_more') %>
    </button>
  <% end %>
</article>
