<%= render partial: 'form',
           locals: {
             recipe: @new_recipe,
             bucket: @bucket,
             method: :post,
             path:   bucket_recipes_path(@bucket.slug)
           }
%>
