<article>
  <%= render partial: 'shared/breadcrumbs' %>
  <section class="recipe__container" data-controller="recipe" data-recipe-attributes="<%= @recipe.import_attributes.to_json %>">
    <%- if imported?(@recipe) %>
      <div class="loader spinner"></div>
      <h4 class="text-center">
        <%= t('views.labels.importer_spinner') %>
      </h4>
    <% else %>
      <div class="flex__row just-c-sb">
        <h3 class="capitalized"><%= @recipe.name %></h3>
        <div class="flex__row flex__column--mobile recipe__actions align-i-fs">
          <%= link_to download_pdf_bucket_recipe_path(@bucket.slug, @recipe), data: { controller: 'target-window', action: 'click->target-window#openWindow' }, 'aria-label': t('views.labels.download_pdf') do %>
            <div class="btn__circled btn__circled__primary btn__circled--pdf btn__circled--very-small"></div>
          <% end %>
          <%= link_to edit_bucket_recipe_path(@bucket.slug), 'aria-label': t('views.labels.edit') do %>
            <div class="btn__circled btn__circled__primary btn__circled--edit btn__circled--very-small"></div>
          <% end %>
          <%= render partial: 'shared/delete_dialog',
                     locals: {
                      hash: {
                        form_path: bucket_recipe_path(@bucket.slug, @recipe),
                        name:      @recipe.name
                      }
                    }
          %>
        </div>
      </div>
      <div class="flex__row flex__column--mobile align-i-fs b-margin">
        <div class="flex__column flex__column--50 b-margin">
          <%= image_tag default_image(@recipe, :medium), alt: @recipe.name %>
        </div>
        <div class="flex__column flex__column--50">
          <%- if @recipe.description.present? %>
            <div class="recipe__description">
              <h4 class="capitalized">
                <%= t('views.labels.description') %>
              </h4>
              <%= @recipe.description %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="flex__row flex__column--mobile align-i-fs b-margin">
        <div class="flex__column flex__column--50">
          <h4 class="capitalized">
            <%= t('views.labels.ingredients') %>
          </h4>
          <ul class="recipe__list">
            <%- @recipe.recipe_ingredients.each do |ingredient| %>
              <li><%= ingredient.name %></li>
            <% end %>
          </ul>
        </div>
        <div class="flex__column flex__column--50">
          <h4 class="capitalized">
            <%= t('views.labels.additional_info') %>
          </h4>
          <table class="recipe__additional-information b-margin">
            <thead>
              <tr>
                <th><%= t('views.labels.portions') %></th>
                <th><%= t('views.labels.difficulty') %></th>
                <%- if @recipe.recipe_url.present? %>
                  <th><%= t('views.labels.original_link') %></th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= @recipe.servings %></td>
                <td><%= t("views.labels.#{@recipe.difficulty}") %></td>
                <%- if @recipe.recipe_url.present? %>
                  <td>
                    <%= link_to 'Click', @recipe.recipe_url,
                                        class: 'link link--underline',
                                        'aria-label': t('views.labels.original_link'),
                                        data: {
                                          controller: 'target-window',
                                          action: 'click->target-window#openWindow'
                                        }
                    %>
                  </td>
                <% end %>
              </tr>
            </tbody>
          </table>
          <table class="recipe__additional-information">
            <thead>
              <tr>
                <th><%= t('views.labels.prep_time') %></th>
                <th><%= t('views.labels.cooking_time') %></th>
                <th><%= t('views.labels.total_time') %></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= @recipe.total_prep_cooking %></td>
                <td><%= @recipe.total_cook_cooking %></td>
                <td><%= @recipe.total_cooking %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <%- if @recipe.categories.present? %>
        <div class="flex__column">
          <h4 class="capitalized">
            <%= t('views.labels.categories') %>
          </h4>
          <ul class="recipe__categories">
            <%- @recipe.categories.each do |category| %>
              <li><%= category.name.capitalize %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%- if @recipe.cuisines.present? %>
        <div class="flex__column">
          <h4 class="capitalized">
            <%= t('views.labels.cuisines') %>
          </h4>
          <ul class="recipe__categories">
            <%- @recipe.cuisines.each do |cuisine| %>
              <li><%= cuisine.name.capitalize %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="flex__column">
        <h4 class="capitalized">
          <%= t('views.labels.steps') %>
        </h4>
        <ul class="recipe__steps-container">
          <%- @recipe.recipe_instructions.each do |instruction| %>
            <li><%= instruction.content %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </section>
</article>
