<article>
  <section class="margin-bottom">
    <h1><%= @recipe.name %></h1>
    <%= image_tag default_image(@recipe, :large) %>
  </section>
  <section class="margin-bottom">
    <table>
      <thead>
        <tr>
          <th><%= t('views.labels.portions').titleize %></th>
          <%- if @recipe.difficulty.present? %>
            <th><%= t('views.labels.difficulty').titleize %></th>
          <% end %>
          <th><%= t('views.labels.total_time').titleize %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @recipe.servings %></td>
          <%- if @recipe.difficulty.present? %>
            <td><%= t("views.labels.#{@recipe.difficulty}") %></td>
          <% end %>
          <td><%= @recipe.total_cooking %></td>
        </tr>
      </tbody>
    </table>
  </section>
  <section class="margin-bottom">
    <%- @recipe.recipe_ingredients.each_slice(5) do |ingredients| %>
      <ul class="horizontal__list">
        <%- ingredients.each do |ingredient| %>
          <li class="horizontal__list__item">
            <%= ingredient.name %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </section>
  <section class="margin-bottom">
    <ol>
      <%- @recipe.recipe_instructions.each do |instruction| %>
        <li class="margin-bottom-small">
          <%= instruction.content %>
        </li>
      <% end %>
    </ol>
  </section>
</article>
