<%= render partial: 'shared/form_errors', locals: { errors: @errors } %>

<%= form_with url: "#{update_password_users_path}#changePassword", method: :patch do |f| %>
  <div class="field">
    <%= f.label t('views.labels.current_password') %>
    <%= f.password_field :current_password, autocomplete: :off, required: true %>
  </div>

  <div class="field">
    <%= f.label t('views.labels.new_password') %>
    <%= f.password_field :password, autocomplete: :off, required: true %>
  </div>

  <div class="field">
    <%= f.label t('views.labels.new_password_confirmation') %>
    <%= f.password_field :password_confirmation, autocomplete: :off, required: true %>
  </div>

  <%= f.submit t('views.labels.confirm'), class: 'btn btn__primary' %>
<% end %>
