<div class="flex__row just-c-sb">
  <h4 class="b-margin--small bold cal-poly-pomona-green"><% "#{t('views.labels.statistics')}:" %></h4>
  <h4 class="bold cal-poly-pomona-green"><%= current_user.nick %></h4>
</div>

<div class="b-margin">
  <%- @statistics[:base].each_pair do |key, value| %>
    <div class="flex__row">
      <span class="account__stat-title bold"><%= t("views.labels.#{key}").capitalize! %></span>
      <span class="account__stat-value"><%= value  %></span>
    </div>
  <% end %>
</div>

<h4 class="b-margin--small bold cal-poly-pomona-green"><%= t('views.labels.favourite_urls') %></h4>
<%- @statistics[:favourite_urls].each do |hash| %>
  <div class="flex__row">
    <span class="account__stat-title bold"><%= hash[:url] %></span>
    <span class="account__stat-value"><%= hash[:size] %></span>
  </div>
<% end %>
