<article data-controller="account">
  <div class="flex__row flex__column--mobile b-margin">
    <%= link_to '#statistics', class: 'account__action align-i-c', data: { action: 'account#selectSection', section: 'statistics' } do %>
      <div class="account__action-wrapper bold"><%= t('views.labels.statistics') %></div>
    <% end %>
    <%= link_to '#changePassword', class: 'account__action align-i-c', data: { action: 'account#selectSection', section: 'changePassword' } do %>
      <div class="account__action-wrapper bold"><%= t('views.labels.change_password') %></div>
    <% end %>
    <%= link_to '#planHistory', class: 'account__action account__action--disabled align-i-c', data: { action: 'account#selectSection', section: 'planHistory' } do %>
      <div class="account__action-wrapper bold"><%= t('views.labels.plan_history') %></div>
    <% end %>
    <%= link_to '#mySupport', class: 'account__action account__action--disabled align-i-c', data: { action: 'account#selectSection', section: 'mySupport' } do %>
      <div class="account__action-wrapper bold"><%= t('views.labels.my_support') %></div>
    <% end %>
  </div>
  <div class="flex__column">
    <div id="statistics" class="flex__column account__action-body b-margin hidden">
      <%= render partial: 'statistics' %>
    </div>
    <div id="changePassword" class="flex__column account__action-body b-margin hidden">
      <%= render partial: 'reset_password' %>
    </div>
    <div id="planHistory" class="flex__column account__action-body b-margin hidden">
      <%= render partial: 'plan' %>
    </div>
    <div id="mySupport" class="flex__column account__action-body b-margin hidden" data-controller="search">
      <div class="account__support-container" data-target="search.container">
        <div class="loader spinner paginate__loader spinner--quick hidden" data-target="search.loader"></div>
        <%= render partial: 'contacts/contact_item', collection: @contacts, as: :contact %>
      </div>

      <%- if @contacts.size.eql?(Constants::DEFAULT_PAGINATION_SIZE) %>
        <button type="button"
                name="button"
                class="btn btn__primary btn--load-more centered-element"
                data-resource="contacts"
                data-params="<%= {}.to_json %>"
                data-page="<%= current_page %>"
                data-target="search.buttonLoader"
                data-action="click->search#retrieveRecords"
        >
          <%= t('views.labels.load_more') %>
        </button>
      <% end %>
    </div>
  </div>
</article>
