<li class="autocomplete__tag <%= ('removed' if r.object._destroy) %>"
    data-controller="suggestion"
    data-suggestion-new-record="<%= r.object.new_record? %>"
>
  <span class="bold"><%= r.object.name %></span>
  <%= r.hidden_field :name %>
  <%= r.hidden_field :_destroy, data: { target: 'suggestion.suggestionDestroyField' }, class: 'delete-button' %>
  <div class="icon icon__tag icon--close-tag" data-action="click->suggestion#removeSuggestion"></div>
</li>
