<div class="flex__row align-i-c b-margin--small <%= ('removed' if r.object._destroy) %>">
  <%= r.text_field :name, placeholder: t('views.labels.name'), autocomplete: :off, class: 'r-margin--small' %>
  <%= r.hidden_field :_destroy %>
  <%= remove_nested_item(r) %>
</div>
