<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async="" defer=""></script>

<article class="control-container">
  <h1 class="aligned-center"><%= t('views.labels.session_slogan') %></h1>

  <%= render partial: 'shared/form_errors', locals: { errors: @errors } %>
  <%= form_with url: registrations_path, method: :post do |f| %>
    <div class="field">
      <%= f.label t('views.labels.email') %>
      <%= f.email_field :email, required: true %>
    </div>

    <div class="field">
      <%= f.label t('views.labels.nick') %>
      <%= f.text_field :nick, required: true %>
    </div>

    <div class="field">
      <%= f.label t('views.labels.password') %>
      <%= f.password_field :password, autocomplete: :off, required: true %>
    </div>

    <div class="field">
      <%= f.label t('views.labels.password_confirmation') %>
      <%= f.password_field :password_confirmation, autocomplete: :off, required: true %>
    </div>

    <div class="field field--checkbox">
      <%= f.check_box :terms, checked: false, required: true %>
      <%= f.label :terms, data: { controller: 'target-window' } do %>
        <%= t('views.labels.accept') %>
        <%= link_to t('views.labels.terms'), terms_home_path, class: 'link link--underline', data: { action: 'click->target-window#openWindow' } %>
        <%= t('views.labels.and') %>
        <%= link_to t('views.labels.privacy'), privacy_home_path, class: 'link link--underline', data: { action: 'click->target-window#openWindow' } %>
      <% end %>
    </div>

    <%= render partial: '/shared/captcha' %>

    <div class="buttons-group">
      <%= f.submit t('views.labels.confirm'), class: 'btn btn__primary', disabled: 'disabled', id: 'submit' %>
      <%= link_to t('views.labels.login_with_account'), new_sessions_path, class: 'link' %>
    </div>
  <% end %>
</article>
