<details data-controller="dialog"
         data-dialog-show-dialog="<%= hash[:show_dialog] %>"
         data-dialog-clean-input="<%= hash[:clean_input] %>"
>
  <summary aria-haspopup="dialog" class="<%= hash[:summary_button_classes] %>"><%= hash[:summary_text] %></summary>
  <div class="dialog__background " data-action="click->dialog#close"></div>
  <div class="dialog__container flex__column just-c-c animate-fade-in fast" role="dialog">
    <button type="button"
            name="button"
            aria-label="close"
            class="btn__circled btn__circled__primary btn__circled--close btn__circled--small absolute-right"
            data-action="click->dialog#close"
    ></button>
    <h3 class="text-center bold">
      <%= hash[:sloga] %>
    </h3>
    <%= form_with model: hash[:resource], url: hash[:form_path], method: hash[:form_method] do |f| %>
      <%- if hash[:show_form_errors] %>
        <%= render partial: 'shared/form_errors', locals: { errors: hash[:errors] } %>
      <% end %>

      <div class="field">
        <%= f.label hash[:input_label] %>
        <%= f.__send__(hash[:input_type], hash[:input_key], data: { target: 'dialog.input' }, required: true, autocomplete: :off) %>
      </div>
      <div class="buttons-wrapper">
        <%= f.submit t('views.labels.save'), class: 'btn btn__primary', 'aria-label': t('views.labels.save') %>
        <button type="button"
                name="<%= t('views.labels.save') %>"
                aria-label="<%= t('views.labels.save') %>"
                class="btn btn__secondary"
                data-action="click->dialog#close"
        >
          <%= t('views.labels.cancel') %>
        </button>
      </div>
    <% end %>
  </div>
</details>
