<div class="breadcump">
  <%- breadcrumbs.each do |breadcump| %>
    <span><%= link_to breadcump.name, breadcump.path, class: "link #{('link__disabled' if breadcump.path.blank?)}" %></span>
  <% end %>
</div>
