<div id="captcha"></div>
<script type="text/javascript">
  var onSubmit = function(token) {
     var submitButton = document.getElementById('submit');

     submitButton.removeAttribute('disabled');
     submitButton.removeAttribute('disabled-with');
   };

   var onloadCallback = function() {
     grecaptcha.render('captcha', {
       'sitekey' : "<%= Credentials[:google, :captcha_web_key] %>",
       'callback' : onSubmit
     });
   };
</script>
