<details data-controller="dialog">
  <summary class="btn__circled btn__circled__danger btn__circled--remove btn__circled--very-small" aria-haspopup="dialog"></summary>
  <div class="dialog__background " data-action="click->dialog#close"></div>
  <div class="dialog__container danger-warning flex__column just-c-c animate-fade-in fast" role="dialog">
    <button type="button"
            name="close"
            aria-label="close"
            class="btn__circled btn__circled__danger btn__circled--close--red btn__circled--small absolute-right"
            data-action="click->dialog#close"
    ></button>
    <h3 class="text-center bold red-text">
      <%= t('views.labels.delete_warning_slogan', name: hash[:name]) %>
    </h3>
    <div class="buttons-wrapper">
      <%= button_to hash[:form_path], class: 'btn btn__danger', name: t('views.labels.confirm'), 'aria-label': t('views.labels.confirm'), method: :delete do %>
        <%= t('views.labels.confirm') %>
      <% end %>
      <button type="button"
              name="<%= t('views.labels.cancel') %>"
              aria-label="<%= t('views.labels.cancel') %>"
              class="btn btn__secondary--danger"
              data-action="click->dialog#close"
      >
        <%= t('views.labels.cancel') %>
      </button>
    </div>
  </div>
</details>
