<%- %i[error notice].each do |type| %>
  <%- if flash[type] %>
  <div class="flash <%= "flash--#{type}" %>" data-controller="flash" role="notification">
    <div class="icon <%= "icon--#{type}" %>"></div>
    <div class="icon <%= "icon--close-#{type}" %>" data-action="click->flash#close"></div>
    <%= flash[type] %>
  </div>
  <% end %>
<% end %>
