<footer>
  <div class="flex__row flex__column--mobile just-c-se footer__wrapper">
    <div class="flex__column">
      <%= link_to root_path, class: 'link', 'aria-label': t('views.labels.app')  do %>
        <%= image_tag asset_pack_path('media/images/svgs/meal.svg'), class: 'icon icon--2x', alt: 'Kitchen Stuff' %>
      <% end %>
    </div>
    <div class="flex__row flex__column--mobile">
      <div class="flex__column r-margin--big">
        <h3 class="bold b-margin--small"><%= t('views.labels.learn_more') %></h3>
        <ul>
          <li><%= link_to t('views.labels.changelog'), changelog_home_path, class: 'link', 'aria-label': t('views.labels.changelog') %></li>
          <li><%= link_to t('views.labels.account_plans'), account_plans_home_path, class: 'link', 'aria-label': t('views.labels.account_plans') %></li>
        </ul>
      </div>
      <div class="flex__column r-margin--big">
        <h3 class="bold b-margin--small"><%= t('views.labels.features') %></h3>
        <ul>
          <li><%= link_to t('views.labels.recipe_importer'), "#{features_home_path}#recipe_importer", class: 'link', 'aria-label': t('views.labels.recipe_importer') %></li>
          <li><%= link_to t('views.labels.buckets'), "#{features_home_path}#buckets", class: 'link', 'aria-label': t('views.labels.buckets') %></li>
          <li><%= link_to t('views.labels.cookbook'), "#{features_home_path}#cookbook", class: 'link', 'aria-label': t('views.labels.cookbook') %></li>
          <li><%= link_to t('views.labels.diet_calendar'), "#{features_home_path}#diet_calendar", class: 'link', 'aria-label': t('views.labels.diet_calendar') %></li>
        </ul>
      </div>
      <div class="flex__column r-margin--big">
        <h3 class="bold b-margin--small"><%= t('views.labels.about') %></h3>
        <ul>
          <li><%= link_to t('views.labels.company'), company_home_path, class: 'link', 'aria-label': t('views.labels.company') %></li>
          <li><%= link_to t('views.labels.contact'), contacts_path, class: 'link', 'aria-label': t('views.labels.contact') %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="flex__row flex__column--mobile just-c-se footer__wrapper">
    <div class="flex__column">
      <h4 class="b-margin--small r-margin">
        Kitchen Stuff Inc. All rights reserved.
      </h4>
    </div>
    <div class="flex__row flex__column--mobile">
      <%= link_to t('views.labels.privacy'), privacy_home_path, class: 'link r-margin', 'aria-label': t('views.labels.privacy') %>
      <%= link_to t('views.labels.terms'), terms_home_path, class: 'link r-margin', 'aria-label': t('views.labels.terms') %>
      <%= link_to '#', class: 'link', 'aria-label': 'twitter' do %>
        <%= image_tag asset_pack_path('media/images/svgs/twitter.svg'), class: 'icon r-margin', alt: 'twitter' %>
      <% end %>
      <%= link_to '#', class: 'link', 'aria-label': 'facebook' do %>
        <%= image_tag asset_pack_path('media/images/svgs/facebook.svg'), class: 'icon r-margin', alt: 'facebook' %>
      <% end %>
    </div>
  </div>
</footer>
