<%- if errors.present? %>
  <ul id="formErrors" class="validation__container">
    <%- errors.each do |key, value| %>
      <%- value.each do |message| %>
        <li><%= "#{key.capitalize} #{message}" %></li>
      <% end %>
    <% end %>
  </ul>
<% end %>
