<nav role="navigation">
  <%= link_to root_path, class: 'nav__link nav__link--root', 'aria-label': t('views.labels.app') do %>
    <span><%= t('views.labels.app') %></span>
  <% end %>
  <%= link_to t('views.labels.app'), root_path, class: 'nav__link--mobile', 'aria-label': t('views.labels.app')  %>

  <ul class="nav__desktop">
    <%- if signed_in? %>
      <li>
        <%= link_to my_collection_recipes_path, class: 'nav__link nav__link--recipes', 'aria-label': t('views.labels.recipes') do %>
          <span><%= t('views.labels.recipes') %></span>
        <% end %>
      </li>
      <li>
        <%= link_to buckets_path, class: 'nav__link nav__link--buckets', 'aria-label': t('views.labels.my_buckets') do %>
          <span><%= t('views.labels.my_buckets') %></span>
        <% end %>
      </li>
      <li>
        <%= link_to account_users_path, class: 'nav__link nav__link--account', 'aria-label': t('views.labels.account') do %>
          <span><%= t('views.labels.account') %></span>
        <% end %>
      </li>
      <li>
        <%= link_to contacts_path, class: 'nav__link nav__link--contact', 'aria-label': t('views.labels.contact') do %>
          <span><%= t('views.labels.contact') %></span>
        <% end %>
      </li>
      <li>
        <%= button_to sessions_path, class: 'nav__link nav__link--form nav__link--sign-out', method: :delete, 'aria-label': t('views.labels.logout') do %>
          <span><%= t('views.labels.logout') %></span>
        <% end %>
      </li>
    <% else %>
      <li>
        <%= link_to features_home_path, class: 'nav__link nav__link--features', 'aria-label': t('views.labels.features') do %>
          <span><%= t('views.labels.features') %></span>
        <% end %>
      </li>
      <li>
        <%= link_to new_registration_path, class: 'nav__link nav__link--register', 'aria-label': t('views.labels.signup') do %>
          <span><%= t('views.labels.signup') %></span>
        <% end %>
      </li>
      <li>
        <%= link_to new_sessions_path, class: 'nav__link nav__link--sign-in', 'aria-label': t('views.labels.login') do %>
          <span><%= t('views.labels.login') %></span>
        <% end %>
      </li>
      <li>
        <%= link_to contacts_path, class: 'nav__link nav__link--contact', 'aria-label': t('views.labels.contact') do %>
          <span><%= t('views.labels.contact') %></span>
        <% end %>
      </li>
    <% end %>
  </ul>

  <details class="nav__mobile"
           data-controller="nav-mobile"
           data-action="click@window->nav-mobile#closeNav touchmove@window->nav-mobile#closeNav"
  >
    <summary></summary>
    <details-menu role="menu">
      <%- if signed_in? %>
        <li role="menuitem"><%= link_to t('views.labels.recipes'), my_collection_recipes_path, 'aria-label': t('views.labels.recipes') %></li>
        <li role="menuitem"><%= link_to t('views.labels.my_buckets'), buckets_path, 'aria-label': t('views.labels.my_buckets') %></li>
        <li role="menuitem"><%= link_to t('views.labels.account'), account_users_path, 'aria-label': t('views.labels.account') %></li>
        <li role="menuitem"><%= link_to t('views.labels.contact'), contacts_path, 'aria-label': t('views.labels.contact') %></li>
        <li role="menuitem"><%= button_to t('views.labels.logout'), sessions_path, method: :delete, 'aria-label': t('views.labels.logout') %></li>
      <% else %>
        <li role="menuitem"><%= link_to t('views.labels.features'), features_home_path, 'aria-label': t('views.labels.features') %></li>
        <li role="menuitem"><%= link_to t('views.labels.signup'), new_registration_path, 'aria-label': t('views.labels.signup') %></li>
        <li role="menuitem"><%= link_to t('views.labels.login'), new_sessions_path, 'aria-label': t('views.labels.login') %></li>
        <li role="menuitem"><%= link_to t('views.labels.contact'), contacts_path, 'aria-label': t('views.labels.contact') %></li>
      <% end %>
    </details-menu>
  </details>
</nav>
