<button type="button"
        name="scrollButton"
        aria-label="<%= t('views.labels.scroll_button') %>"
        class="btn btn__primary btn__scroll"
        data-controller="scroll-button"
        data-action="click->scroll-button#scrollUp"
>
  <%= image_tag asset_pack_path('media/images/svgs/arrow-alt-circle-up.svg'), alt: t('views.labels.scroll_button'), loading: 'lazy' %>
</button>
