<%- unless current_user.present? %>
  <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async="" defer=""></script>
<% end %>

<article class="control-container">
  <h1 class="aligned-center"><%= t('views.labels.contact_support') %></h1>

  <%= render partial: 'shared/form_errors', locals: { errors: @errors } %>
  <%= form_with model: @new_contact, url: contacts_path, method: :post do |f| %>
    <div class="field">
      <%= f.label t('views.labels.subject')%>
      <%= f.select :subject, contact_subjects, { prompt: t('views.labels.select') }, autocomplete: :off, class: 'full-width', required: true %>
    </div>

    <%- if current_user.present? %>
      <%= f.hidden_field :email, value: current_user.email %>
    <% else %>
      <div class="field">
        <%= f.label t('views.labels.email') %>
        <%= f.email_field :email, required: true, autocomplete: :off %>
      </div>
    <% end %>

    <div class="field">
      <%= f.label t('views.labels.content') %>
      <%= f.text_area :content, autocomplete: :off, required: true, rows: 15, autocomplete: :off %>
    </div>

    <%- unless current_user.present? %>
      <%= render partial: '/shared/captcha' %>
    <% end %>

    <div class="buttons-group">
      <%= f.submit t('views.labels.confirm'), class: 'btn btn__primary', disabled: disabled_attribute, id: 'submit' %>
      <%= link_to root_path do %>
        <button type="button" name="button" class="btn btn__secondary"><%= t('views.labels.cancel') %></button>
      <% end %>
    </div>
  <% end %>
</article>
