@keyframes spin
  100%
    transform: rotate(360deg)

@keyframes fade-in
  0%
    opacity: 0
  100%
    opacity: 1

.animate-fade-in
  animation-name: fade-in
  animation-timing-function: ease-in-out
  animation-duration: $default-animation

.fast
  animation-duration: $quick-animation

.spinner
  animation: spin 3s infinite
  animation-timing-function: linear

.spinner--quick
  animation-duration: 1.5s
