.container
  display: grid
  grid-template-rows: auto 1fr auto
  grid-template-columns: 100%
  grid-template-areas: "header" "main" "footer"
  min-height: 100%

header.main-header
  grid-area: header
  margin-bottom: 4rem

section.main-section
  grid-area: main
  max-width: 960px
  width: 75vw
  min-height: 60vh
  margin: 10px auto

  @media screen #{$tablet-port}
    width: 90vw

  @media screen #{$tablet-land}
    width: 90vw

  @media screen #{$portable}
    width: 90vw

footer
  grid-area: footer

article.control-container
  margin: 30px 0
  padding: 0

  @media screen #{$desktop}
    padding: 0 100px

  @media screen #{$tablet-land}
    padding: 60px

.buttons-group
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  margin-top: $default-rem

  @media screen #{$portable}
    flex-direction: column

    > *
      margin: 10px 0

.links-group
  display: flex
  flex-direction: column

  > *
    margin: 3 0

.heading-container
  position: relative
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  width: 25rem

  @media screen #{$portable}
    width: 18rem

    h1
      font-size: 1.55 * $default-rem
      line-height: 1.5rem / $default-rem

.flex__row
  display: flex
  flex-direction: row

.flex__column
  display: flex
  flex-direction: column

.flex__column--50
  flex-basis: 50%
  margin-right: 1rem

  &:last-of-type
    margin-right: 0

  @media screen #{$portable}
    margin-right: 0

.flex__row--mobile
  @media screen #{$portable}
    display: flex
    flex-direction: row

.flex__column--mobile
  @media screen #{$portable}
    display: flex
    flex-direction: column

.just-c-sb
  justify-content: space-between

.just-c-se
  justify-content: space-evenly

.just-c-fs
  justify-content: flex-start

.just-c-c
  justify-content: center

.align-i-c
  align-items: center

.align-i-fs
  align-items: flex-start

  @media screen #{$portable}
    align-items: initial

.align-s-fe
  align-self: flex-end

.align-s-c
  align-self: center

.relative
  position: relative
