@mixin default-input($color, $padding)
  position: relative
  padding: $padding
  font-size: $default-font
  border: 1px solid $color
  border-radius: 0
  outline: none
  box-sizing: border-box
  width: 100%
  transition: box-shadow $quick-transition ease
  appearance: none

  &:focus
    box-shadow: 0 0 5px 0 $color

@mixin square($width, $height)
  width: $width
  height: $height

@mixin hidden-print
  @media print
    display: none

@mixin grid-cards($grid-gap)
  display: grid
  grid-template-rows: auto
  grid-template-columns: repeat(3, minmax(10rem, 1fr))
  grid-gap: $grid-gap

  @media screen #{$portable}
    grid-template-columns: repeat(2, minmax(10rem, 1fr))

  @media screen #{$mobile-port}
    grid-template-columns: repeat(1, minmax(10rem, 1fr))
    justify-content: center
