@import "./variables"

p, ol, ul, blockquote, pre, code
  line-height: $default-rem
  margin-bottom: $default-rem

p
  text-indent: $default-rem * 2

a
  text-decoration: none

h1
  font-size: 2 * $default-rem
  line-height: 2rem / $default-rem
  font-weight: 700
  color: $cal-poly-pomona-green
  margin-bottom: $default-rem

h2
  font-size: 2rem
  line-height: 2rem / $default-rem

h3
  font-size: 1.75rem
  line-height: 1.75rem / $default-rem

h4
  font-size: $default-rem
  line-height: $default-rem / $default-rem

.heading-space--big
  margin-bottom: 3rem

.bold
  font-weight: 700

.aligned-center
  text-align: center
