<article class="control-container">
  <h1 class="aligned-center"><%= t('views.labels.edit_password_slogan') %></h1>

  <%= render partial: 'shared/form_errors', locals: { errors: @errors } %>
  <%= form_with url: update_password_password_path(token: params[:token]), method: :patch do |f| %>
    <div class="field">
      <%= f.label t('views.labels.password') %>
      <%= f.password_field :password, autocomplete: :off, required: true %>
    </div>

    <div class="field">
      <%= f.label t('views.labels.password_confirmation') %>
      <%= f.password_field :password_confirmation, autocomplete: :off, required: true %>
    </div>

    <div class="buttons-group just-c-c">
      <%= f.submit t('views.labels.confirm'), class: 'btn btn__primary' %>
    </div>
  <% end %>
</article>
