<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async="" defer=""></script>

<article class="control-container">
  <h1 class="aligned-center"><%= t('views.labels.recover_password_slogan') %></h1>

  <%= render partial: 'shared/form_errors', locals: { errors: @errors } %>
  <%= form_with url: reset_password_passwords_path, method: :patch do |f| %>
    <div class="field">
      <%= f.label t('views.labels.email') %>
      <%= f.email_field :email, required: true %>
    </div>

    <%= render partial: '/shared/captcha' %>

    <div class="buttons-group">
      <%= f.submit t('views.labels.confirm'), class: 'btn btn__primary', disabled: 'disabled', id: 'submit' %>
      <div class="links-group">
        <%= link_to t('views.labels.create_account'), new_registration_path, class: 'link' %>
        <%= link_to t('views.labels.login_with_account'), new_sessions_path, class: 'link' %>
      </div>
    </div>
  <% end %>
</article>
