<div class="card__item flex__column">
  <div class="flex__row just-c-sb">
    <h4 title="#{bucket.name}" class="bucket__title">
      <%= truncate(bucket.name, length: 20) %>
    </h4>
    <div class="flex__row align-i-fs">
      <%= render partial: 'shared/action_dialog',
                 locals: {
                   hash: {
                     sloga:                  t('views.labels.edit_bucket_slogan', name: bucket.name),
                     summary_button_classes: 'btn__circled btn__circled__primary btn__circled--edit btn__circled--very-small',
                     summary_text:           nil,
                     resource:               bucket,
                     form_path:              bucket_path(slug: bucket.slug),
                     form_method:            :patch,
                     show_form_errors:       true,
                     errors:                 (@errors if @update_failure_bucket_id.try(:eql?, bucket.id)),
                     input_label:            t('views.labels.bucket_name'),
                     input_type:             :text_field,
                     input_key:              :name,
                     clean_input:            false,
                     show_dialog:            @update_failure_bucket_id.try(:eql?, bucket.id) || false
                   }
                 }
      %>
      <%= render partial: 'shared/delete_dialog',
                 locals: {
                  hash: {
                    form_path: bucket_path(bucket.slug),
                    name:      bucket.name
                  }
                }
      %>
    </div>
  </div>
  <div class="flex__column relative">
    <div class="badge relative">
      <div class="badge__body bold">
        <%= t('views.labels.total', type: :recipes, count: bucket.recipes_count) %>
      </div>
      <%= bucket.recipes_count %>
    </div>
    <%= link_to bucket_path(slug: bucket.slug) do %>
      <%= image_tag asset_pack_path('media/images/svgs/empty-meal.svg'), class: 'bucket__background', loading: 'lazy', alt: 'bucket' %>
    <% end %>
  </div>
</div>
