<article data-controller="bucket search">
  <%- if @buckets.blank? && params[:search].blank? %>
    <div class="heading-container centered-element">
      <h1 class="aligned-center heading-space--big">
        <%= sanitize(t('views.labels.empty_collection_slogan', path: asset_pack_path('media/images/svgs/frown.svg'))) %>
      </h1>
      <%= render partial: 'shared/action_dialog',
                 locals: {
                   hash: {
                     sloga:                  t('views.labels.new_bucket_dialog_slogan'),
                     summary_button_classes: 'btn btn__primary',
                     summary_text:           t('views.labels.first_bucket'),
                     resource:               @new_bucket,
                     form_path:              buckets_path,
                     form_method:            :post,
                     show_form_errors:       true,
                     errors:                 (@errors if @create_failure_dialog),
                     input_label:            t('views.labels.bucket_name'),
                     input_type:             :text_field,
                     input_key:              :name,
                     clean_input:            true,
                     show_dialog:            @create_failure_dialog
                   }
                 }
      %>
    </div>
  <% else %>
    <section class="flex__row b-margin just-c-sb">
      <%= form_with url: buckets_path, method: :get, class: 'full-width', html: { data: { action: 'submit->search#validateForm' } } do %>
        <div class="flex__row flex__column--mobile">
          <%= search_field_tag :search,
                               params[:search],
                               autocomplete: :off,
                               placeholder: t('views.labels.search_placeholder'),
                               data: { target: 'search.input', action: 'input->search#validate' }
          %>
          <%= submit_tag t('views.labels.search'),
                         class: 'btn btn__primary align-s-c t-margin--small r-margin--small',
                         data: { target: 'search.submit' },
                         disabled: 'disabled'
          %>
        </div>
      <% end %>
      <div class="t-margin--small">
        <%= render partial: 'shared/action_dialog',
                   locals: {
                     hash: {
                       sloga:                  t('views.labels.new_bucket_dialog_slogan'),
                       summary_button_classes: 'btn__circled btn__circled__primary btn__circled--plus',
                       summary_text:           nil,
                       resource:               @new_bucket,
                       form_path:              buckets_path,
                       form_method:            :post,
                       show_form_errors:       true,
                       errors:                 (@errors if @create_failure_dialog),
                       input_label:            t('views.labels.bucket_name'),
                       input_type:             :text_field,
                       input_key:              :name,
                       clean_input:            true,
                       show_dialog:            @create_failure_dialog
                     }
                   }
        %>
      </div>
    </section>
    <section class="flex__row b-margin just-c-fs">
      <%= link_to t('views.labels.all_recipes'), my_collection_recipes_path, class: 'link link--underline r-margin' %>
      <%= link_to t('views.labels.clear'), buckets_path, class: 'link link--underline r-margin' %>
    </section>
    <section class="cards__container" data-target="search.container">
      <div class="loader spinner paginate__loader spinner--quick hidden" data-target="search.loader"></div>
      <%= render partial: 'bucket_item', collection: @buckets, as: :bucket %>
    </section>
    <%- if @buckets.size.eql?(Constants::DEFAULT_PAGINATION_SIZE) %>
      <button type="button"
              name="button"
              class="btn btn__primary btn--load-more centered-element"
              data-resource="buckets"
              data-page="<%= current_page %>"
              data-params="<%= params.slice(:search).to_json %>"
              data-target="search.buttonLoader"
              data-action="click->search#retrieveRecords"
      >
        <%= t('views.labels.load_more') %>
      </button>
    <% end %>
  <% end %>
</article>
