<article data-controller="search">
  <%- if @recipes.blank? && params[:search].blank? %>
    <%= render partial: 'shared/breadcrumbs' %>

    <div class="heading-container centered-element">
      <h1 class="aligned-center heading-space--big">
        <%= sanitize(t('views.labels.empty_collection_slogan', path: asset_pack_path('media/images/svgs/frown.svg'))) %>
      </h1>
      <%= link_to t('views.labels.create_first_reicpe'), new_bucket_recipe_path(@bucket.slug), class: 'btn btn__primary', 'aria-label': t('views.labels.new') %>
      <h1>
        <%= t('views.labels.or') %>
      </h1>
      <%= render partial: 'shared/action_dialog',
                 locals: {
                   hash: {
                     sloga:                  t('views.labels.import_slogan'),
                     summary_button_classes: 'btn btn__primary',
                     summary_text:           t('views.labels.import_recipe'),
                     resource:               @new_recipe,
                     form_path:              import_bucket_recipes_path(@bucket.slug),
                     form_method:            :post,
                     show_form_errors:       true,
                     errors:                 @errors,
                     input_label:            t('views.labels.url'),
                     input_type:             :url_field,
                     input_key:              :url,
                     clean_input:            true,
                     show_dialog:            @import_failure_dialog
                   }
                 }
      %>
    </div>
  <% else %>
    <%= render partial: 'shared/breadcrumbs' %>
    <section class="flex__row flex__column--mobile">
      <div class="flex__row b-margin just-c-sb bucket__search-size flex__column--mobile align-i-c">
        <h4 class="t-margin--small" title="<%= @bucket.name%> "><%= @bucket.name %></h4>
        <%= form_with url: bucket_path(@bucket.slug), method: :get, class: 'full-width', html: { data: { action: 'submit->search#validateForm' } } do %>
          <div class="flex__row flex__column--mobile">
            <%= search_field_tag :search,
                                 params[:search],
                                 autocomplete: :off,
                                 placeholder: t('views.labels.search_placeholder'),
                                 data: { target: 'search.input', action: 'input->search#validate' }
            %>
            <%= submit_tag t('views.labels.search'),
                           class: 'btn btn__primary align-s-c t-margin--small r-margin--small',
                           data: { target: 'search.submit' },
                           disabled: 'disabled'
            %>
          </div>
        <% end %>
      </div>
      <div class="flex__row b-margin just-c-c bucket__search-options t-margin--small">
        <%= render partial: 'shared/action_dialog',
                   locals: {
                     hash: {
                       sloga:                  t('views.labels.import_slogan'),
                       summary_button_classes: 'btn__circled btn__circled__primary btn__circled--import',
                       summary_text:           nil,
                       resource:               @new_recipe,
                       form_path:              import_bucket_recipes_path(@bucket.slug),
                       form_method:            :post,
                       show_form_errors:       true,
                       errors:                 @errors,
                       input_label:            t('views.labels.url'),
                       input_type:             :url_field,
                       input_key:              :url,
                       clean_input:            true,
                       show_dialog:            @import_failure_dialog
                     }
                   }
        %>
        <%= link_to new_bucket_recipe_path(@bucket.slug) do %>
          <div class="btn__circled btn__circled__primary btn__circled--plus"></div>
        <% end %>
      </div>
    </section>
    <section class="flex__row b-margin just-c-fs">
      <%= link_to t('views.labels.clear'), bucket_path(@bucket.slug), class: 'link link--underline r-margin' %>
    </section>
    <section class="cards__container" data-target="search.container">
      <div class="loader spinner paginate__loader spinner--quick hidden" data-target="search.loader"></div>
      <%= render partial: 'recipes/recipe_item', collection: @recipes, as: :recipe, locals: { bucket: @bucket } %>
    </section>
    <%- if @recipes.size.eql?(Constants::DEFAULT_PAGINATION_SIZE) %>
      <button type="button"
              name="button"
              class="btn btn__primary btn--load-more centered-element"
              data-resource="recipes"
              data-params="<%= params.slice(:search, :slug).to_json %>"
              data-page="<%= current_page %>"
              data-target="search.buttonLoader"
              data-action="click->search#retrieveRecords"
      >
        <%= t('views.labels.load_more') %>
      </button>
    <% end %>
  <% end %>
</article>
