.account__action
  display: flex
  color: $white
  font-size: $default-rem
  background-color: $cal-poly-pomona-green
  transition: all $quick-transition ease

  &:hover
    background-color: $dark-jungle-green

  &:active
    background-color: $turquise-green

  @media screen #{$portable}
    font-size: 1rem

.account__action--active
  background-color: $turquise-green

.account__action--disabled
  color: $white
  background-color: darken($gray, 10%)
  text-decoration: none
  transition: none
  pointer-events: none

  &:hover
    color: darken($gray, 10%)

  &:active
    color: darken($gray, 10%)

.account__action-wrapper
  padding: 2rem
  text-align: center
  width: 100%

.account__action-body
  padding: 3rem 1rem
  min-height: 10rem
  background-color: $isabelline

.account__action-body.active
  display: initial


.account__stat-title
  flex-basis: 30%
  word-break: word-break

  @media screen #{$mobile-land}
    flex-basis: 45%

  @media screen #{$mobile-port}
    flex-basis: 75%

.account__stat-value
  flex-basis: auto
