.buckets__container
  @include grid-cards($grid-gap: 3rem)

.bucket__search-size
  flex-basis: 85%

  & > h4
    margin-right: 1rem

.bucket__search-options > *:not(:last-child)
  margin-left: 1rem

  @media screen #{$portable}
    margin-left: 0

.bucket__search-options > *:not(:last-child)
  margin-right: 1rem

.bucket__title
  max-width: 10rem
  word-break: break-all
  text-transform: capitalize

  @media screen #{$portable}
    max-width: 13rem

.bucket__background
  @include square(100%, 100%)
