.recipe__container
  margin-top: 3rem

  img
    max-width: 30rem
    max-height: 30rem
    width: 100%

  h3, h4, .recipe__info
    font-weight: 700
    color: $cal-poly-pomona-green

  .recipe__info + span
    font-weight: 700

  h4, .recipe__images
    margin-bottom: 1rem

  .recipe__images
    margin-right: 1rem

    @media screen #{$portable}
      margin-right: 0

  h3
    margin-bottom: 2rem
    text-decoration: underline

ul.recipe__list
  list-style: disc
  padding-left: 1.1rem

ul.recipe__categories
  display: flex
  flex-wrap: wrap

  & > li
    padding: 1rem
    background-color: $turquise-green
    color: $white
    font-weight: 700
    margin-right: 1rem
    margin-bottom: 0.5rem

  & > li:last-of-type
    margin-right: 0

.recipe__steps-container
  background-color: $gray
  border: 2px solid $cal-poly-pomona-green
  padding: $default-rem
  list-style: decimal
  list-style-position: inside
  text-indent: 2rem
  font-weight: 700

  li
    margin-bottom: 1rem
  li:last-of-type
    margin-bottom: 0

.recipe__icon::after
  @include square(1rem, 1rem)
  content: ""
  background-size: 1rem
  display: inline-block
  position: relative
  top: 3px
  margin-left: 0.2rem
  background-repeat: no-repeat

.recipe__icon--time::after
  background-image: url('../images/svgs/clock.svg')

.recipe__icon--ingredients::after
  background-image: url('../images/svgs/drumstick-bite.svg')

.recipe__icon--level::after
  background-image: url('../images/svgs/dumbbell.svg')

.recipe__icon--meals::after
  background-image: url('../images/svgs/utensils.svg')

.recipe__actions
  @include hidden-print
  margin-left: 1rem

  & > *
    margin-left: 0.5rem

    @media screen #{$portable}
      margin-bottom: 0.5rem

.recipe__additional-information
  border: 3px solid $turquise-green

  th
    background-color: $isabelline
    text-transform: capitalize
    font-weight: 700
    color: $dark-jungle-green

  th, td
    border: 1px solid $gray
    text-align: center
    padding: 0.5rem

  td
    vertical-align: middle
