article.admin
  display: flex
  flex-direction: row
  flex-wrap: wrap

section.admin
  width: 45%
  margin: 15px

.title
  display: flex
  flex-direction: row
  font-size: 2rem
  line-height: 2rem / $default-rem
  color: $green-sheen
  text-decoration: underline

.box-inline
  display: flex
  flex-direction: column
