<%= form_with url: create_recipe_admin_tools_path, method: :post do |f| %>
  <div class="field">
    <%= f.label :url, 'Url: ' %>
    <%= f.url_field :url %>
  </div>

  <%= f.submit 'submit', class: 'btn btn__primary' %>
<% end %>
