<article class="admin">
  <section class="admin">
    <div class="title">Headers:</div>
    <h1>Header h1</h1>
    <h2>Header h2</h2>
    <h3>Header h3</h3>
    <h4>Header h4</h4>
  </section>

  <section class="admin">
    <div class="title">Paragraph:</div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla viverra felis et faucibus faucibus. Pellentesque porttitor pellentesque dapibus. Sed faucibus condimentum interdum. Pellentesque a dapibus elit, id sollicitudin velit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc ut eleifend velit. Nullam ut nisl id quam facilisis imperdiet. Nullam malesuada, est eget tincidunt euismod, felis lectus molestie diam, at faucibus enim urna eget metus. Nunc eleifend id neque vel suscipit. Duis at volutpat sem. Pellentesque porta sapien vel massa tempor tincidunt. Quisque hendrerit enim vel nisi convallis, id convallis felis tincidunt. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam nisl dui, sollicitudin in hendrerit ut, efficitur ac metus. Suspendisse ex ex, bibendum id semper eu, ullamcorper vel nunc.</p>
  </section>

  <section class="admin">
    <div class="title">Buttons:</div>
    <div class="flex__row">
      <div class="flex__column">
        <button type="button" name="button" class="btn btn__primary">Confirm</button>
        <button type="button" name="button" class="btn btn__secondary">Cancel</button>
        <button type="button" name="button" class="btn btn__danger">Confirm</button>
        <button type="button" name="button" class="btn btn__primary disabled-cursor" disabled="disabled">Confirm</button>
      </div>
      <div class="flex__column">
        <button type="button" name="button" class="btn__circled btn__circled__primary btn__circled--import"></button>
        <button type="button" name="button" class="btn__circled btn__circled__primary btn__circled--close"></button>
        <button type="button" name="button" class="btn__circled btn__circled__primary btn__circled--edit"></button>
        <button type="button" name="button" class="btn__circled btn__circled__primary btn__circled--pdf"></button>
        <button type="button" name="button" class="btn__circled btn__circled__primary btn__circled--print"></button>
        <button type="button" name="button" class="btn__circled btn__circled__danger btn__circled--close--red"></button>
        <button type="button" name="button" class="btn__circled btn__circled__danger btn__circled--remove"></button>
      </div>
      <div class="flex__column">
        <button type="button" name="button" class="btn__circled btn__circled__primary btn__circled--small btn__circled--import"></button>
        <button type="button" name="button" class="btn__circled btn__circled__primary btn__circled--small btn__circled--close"></button>
        <button type="button" name="button" class="btn__circled btn__circled__primary btn__circled--small btn__circled--edit"></button>
        <button type="button" name="button" class="btn__circled btn__circled__primary btn__circled--small btn__circled--pdf"></button>
        <button type="button" name="button" class="btn__circled btn__circled__primary btn__circled--small btn__circled--print"></button>
        <button type="button" name="button" class="btn__circled btn__circled__danger btn__circled--small btn__circled--close--red"></button>
        <button type="button" name="button" class="btn__circled btn__circled__danger btn__circled--small btn__circled--remove"></button>
      </div>
      <div class="flex__column">
        <%= link_to '', '#', class: 'btn__circled btn__circled__primary btn__circled--very-small btn__circled--import' %>
        <%= link_to '', '#', class: 'btn__circled btn__circled__primary btn__circled--very-small btn__circled--close' %>
        <%= link_to '', '#', class: 'btn__circled btn__circled__primary btn__circled--very-small btn__circled--edit' %>
        <%= link_to '', '#', class: 'btn__circled btn__circled__primary btn__circled--very-small btn__circled--pdf' %>
        <%= link_to '', '#', class: 'btn__circled btn__circled__primary btn__circled--very-small btn__circled--print' %>
        <%= link_to '', '#', class: 'btn__circled btn__circled__danger btn__circled--very-small btn__circled--close--red' %>
        <%= link_to '', '#', class: 'btn__circled btn__circled__danger btn__circled--very-small btn__circled--remove' %>
      </div>
    </div>
  </section>

  <section class="admin">
    <div class="title">Links:</div>
    <div><%= link_to 'Click me', '#', class: 'link' %></div>
    <div><%= link_to 'Click me (underline)', '#', class: 'link link--underline' %></div>
    <div class="disabled-cursor"><%= link_to 'Click me (disabled)', '#', class: 'link link__disabled' %></div>
  </section>

  <section class="admin">
    <div class="title">Flash messages:</div>
    <div class="flex_column">
      <div class="flash flash--error" data-controller="flash" role="notification">
        <div class="icon icon--error"></div>
        <div class="icon icon--close-error" data-action="click->flash#close"></div>
        Request failed.
      </div>
    </div>
    <div class="flex_column">
      <div class="flash flash--notice" data-controller="flash" role="notification">
        <div class="icon icon--check"></div>
        <div class="icon icon--close-notice" data-action="click->flash#close"></div>
        Success request.
      </div>
    </div>
  </section>

  <section class="admin">
    <div class="title">Validations:</div>
    <ul class="validation__container">
      <li>Invalid title</li>
      <li>Invalid Image</li>
    </ul>
  </section>

  <section class="admin">
    <div class="title">Form:</div>
    <div class="field">
      <%= label_tag :textarea %>
      <%= text_area_tag :textarea %>
    </div>
    <div class="field">
      <%= label_tag :text_field %>
      <%= text_field_tag :text_field %>
    </div>
    <div class="field">
      <%= label_tag :url_field %>
      <%= url_field_tag :url_field %>
    </div>
    <div class="field">
      <%= label_tag :select %>
      <%= select_tag :select, options_for_select(['test', 'test1']), class: 'full-width', prompt: 'Select' %>
    </div>
    <div class="field">
      <%= search_field_tag :search, nil, autocomplete: :off %>
    </div>
    <div class="field field--checkbox">
      <%= check_box_tag :checkbox %>
      <%= label_tag :checkbox %>
    </div>
  </section>

  <section class="admin">
    <div class="title">Breadcump:</div>
    <div class="breadcump">
      <span><%= link_to 'first', '#', class: 'link' %></span>
      <span><%= link_to 'second', '#', class: 'link' %></span>
      <span><%= link_to 'last deactive', '#', class: 'link link__disabled' %></span>
    </div>
  </section>

  <section class="admin">
    <div class="title">Dialogs:</div>
    <div class="flex__column">
      <details data-controller="dialog">
        <summary class="btn__circled btn__circled__danger btn__circled--remove btn__circled--very-small" aria-haspopup="dialog"></summary>
        <div class="dialog__background " data-action="click->dialog#close"></div>
        <div class="dialog__container danger-warning flex__column just-c-c animate-fade-in fast" role="dialog">
          <button type="button"
                  name="button"
                  class="btn__circled btn__circled__danger btn__circled--close--red btn__circled--small absolute-right"
                  data-action="click->dialog#close"
          ></button>
          <h3 class="text-center bold red-text">
            Random text
          </h3>
          <div class="buttons-wrapper">
            <button type="button" name="button" class="btn btn__danger">Confirm</button>
            <button type="button"
                    name="button"
                    class="btn btn__secondary--danger"
                    data-action="click->dialog#close"
            >
              <%= t('views.labels.cancel') %>
            </button>
          </div>
        </div>
      </details>
    </div>
    <div class="flex__column">
      <details data-controller="dialog"
               data-dialog-show-dialog="false"
               data-dialog-clean-input="false"
      >
        <summary aria-haspopup="dialog" class="btn__circled btn__circled__primary btn__circled--edit btn__circled--very-small"></summary>
        <div class="dialog__background " data-action="click->dialog#close"></div>
        <div class="dialog__container flex__column just-c-c animate-fade-in fast" role="dialog">
          <button type="button"
                  name="button"
                  class="btn__circled btn__circled__primary btn__circled--close btn__circled--small absolute-right"
                  data-action="click->dialog#close"
          ></button>
          <h3 class="text-center bold">
            Random text
          </h3>
          <%= form_with url: '/', method: :get do |f| %>
            <ul class="validation__container">
              <li>Invalid title</li>
              <li>Invalid Image</li>
            </ul>

            <div class="field">
              <%= f.label :name %>
              <%= f.__send__(:text_field, :name, data: { target: 'dialog.input' }, required: true, autocomplete: :off) %>
            </div>
            <div class="buttons-wrapper">
              <%= f.submit t('views.labels.save'), class: 'btn btn__primary' %>
              <button type="button"
                      name="button"
                      class="btn btn__secondary"
                      data-action="click->dialog#close"
              >
                <%= t('views.labels.cancel') %>
              </button>
            </div>
          <% end %>
        </div>
      </details>
    </div>
    <div class="flex__column">
      <details data-controller="dialog"
               data-dialog-show-dialog="false"
               data-dialog-clean-input="false"
      >
        <summary aria-haspopup="dialog" class="btn btn__primary">Add</summary>
        <div class="dialog__background " data-action="click->dialog#close"></div>
        <div class="dialog__container flex__column just-c-c animate-fade-in fast" role="dialog">
          <button type="button"
                  name="button"
                  class="btn__circled btn__circled__primary btn__circled--close btn__circled--small absolute-right"
                  data-action="click->dialog#close"
          ></button>
          <h3 class="text-center bold">
            Random text
          </h3>
          <%= form_with url: '/', method: :get do |f| %>
            <ul class="validation__container">
              <li>Invalid title</li>
              <li>Invalid Image</li>
            </ul>

            <div class="field">
              <%= f.label :name %>
              <%= f.__send__(:text_field, :name, data: { target: 'dialog.input' }, required: true, autocomplete: :off) %>
            </div>
            <div class="buttons-wrapper">
              <%= f.submit t('views.labels.save'), class: 'btn btn__primary' %>
              <button type="button"
                      name="button"
                      class="btn btn__secondary"
                      data-action="click->dialog#close"
              >
                <%= t('views.labels.cancel') %>
              </button>
            </div>
          <% end %>
        </div>
      </details>
    </div>
  </section>

  <section class="admin">
    <div class="title">Dropdown:</div>
    <details>
      <summary>Click</summary>
      <details-menu role="menu">
        <button type="button" name="button" role="menuitem">Item</button>
        <button type="button" name="button" role="menuitem">Item</button>
        <button type="button" name="button" role="menuitem">Item</button>
        <button type="button" name="button" role="menuitem">Item</button>
      </details-menu>
    </details>
  </section>
</article>
