.autocomplete__wrapper
  position: relative

.autocomplete__results
  position: absolute
  width: 100%
  background-color: $light-gray
  z-index: 2

  li
    text-transform: capitalize
    border-bottom: 1px solid $green-sheen
    padding: 0.5rem
    cursor: pointer
    transition: background-color $quick-transition ease
    border-bottom: 1px solid $green-sheen
    border-right: 1px solid $green-sheen
    border-left: 1px solid $green-sheen

    &:hover
      background-color: lighten($green-sheen, 10%)

    &:active
      background-color: $green-sheen

  li:first-of-type
    border-top: 1px solid $green-sheen

.autocomplete__tag
  position: relative
  transition: all $quick-transition ease
  padding: 0.5rem 2.5rem 0.5rem 1rem !important

  &:hover
    box-shadow: 0 0 5px 0 $green-sheen

  span
    border: none
    background-color: $turquise-green
    color: $white
    cursor: pointer
