.badge
  @include square($default-rem * 2, 2rem)
  display: flex
  justify-content: center
  align-items: center
  background-color: $dark-jungle-green
  color: $white
  font-size: $default-rem
  position: absolute
  border-radius: 50%
  top: 1rem
  right: 3rem
  cursor: pointer

  @media screen #{$portable}
    font-size: 1rem

.badge__body
  position: absolute
  top: $default-rem * 2
  width: 12rem
  pointer-events: none
  transition: opacity $quick-transition ease
  border: 3px solid $dark-jungle-green
  border-radius: 1%
  background-color: $turquise-green
  opacity: 0

  &::before
    content: ""
    position: absolute
    top: -$default-rem
    right: 38%
    width: 0
    height: 0
    border-left: $default-rem solid transparent
    border-right: $default-rem solid transparent
    border-bottom: $default-rem solid $dark-jungle-green

.badge:hover
  .badge__body
    opacity: 1
    pointer-events: all
