.breadcump
  @include hidden-print
  display: flex
  align-items: center
  text-transform: capitalize
  background-color: $cal-poly-pomona-green
  width: max-content
  height: $default-rem * 2
  margin-bottom: 1rem

  @media screen #{$portable}
    font-size: 1rem
    height: $default-rem * 1.5

  & > span, & > span > a
    color: $white
    font-weight: 700

  & > span:first-of-type
    margin-left: $default-rem * 0.25

  & > span:after
    content: "/"
    margin: 0 $default-rem * 0.25

  & > span:last-of-type:after
    content: ""
