.btn
  display: block
  width: 15rem
  font-size: 1.3rem
  font-weight: 700
  border-radius: 0
  border: 0
  text-transform: uppercase
  padding: $default-rem * .7
  cursor: pointer
  text-align: center
  transition: all $quick-transition ease
  transition-property: background-color, color, border-color
  outline: none
  appearance: none

  @media screen #{$portable}
    font-size: 1rem

.btn__primary
  background-color: $green-sheen
  color: $white

  &:hover
    background-color: lighten($green-sheen, 10%)

  &:active
    background-color: $green-sheen

.btn__secondary
  background-color: $isabelline
  border: 1px solid $green-sheen
  color: $black

  &:hover
    background-color: darken($isabelline, 5%)

  &:active
    background-color: $isabelline

.btn__danger
  background-color: $red
  color: $white

  &:hover
    background-color: lighten($red, 10%)

  &:active
    background-color: $red

.btn__secondary--danger
  background-color: $snow-red
  border: 1px solid $red

  &:hover
    background-color: darken($snow-red, 5%)

  &:active
    background-color: $snow-red

.btn:disabled, .btn__circled:disabled
  background-color: darken($gray, 10%)
  border: 0

.btn__circled
  width: 60px
  height: 60px
  padding: $default-rem * .2
  cursor: pointer
  border-radius: 50%
  background-repeat: no-repeat
  background-position: center
  background-size: 2.25rem
  background-color: $white
  outline: none

.btn__circled--small
  @include square(3rem, 3rem)
  background-size: 25px

.btn__circled--very-small
  @include square(20px !important, 20px !important)
  background-size: 20px

.btn__circled---form-very-small
  @include square(2.75rem, 2.75rem)
  background-size: 1.25rem

a > .btn__circled
  @include square(2.75rem, 2.75rem)

.btn__circled__primary
  border: 3px solid $green-sheen

  &:hover
    border-color: $green-sheen-light

  &:active
    border-color: $green-sheen

.btn__circled__danger
  border: 3px solid $red

  &:hover
    border-color: $light-red

  &:active
    border-color: $red

.btn__circled--plus
  background-image: url("../images/svgs/plus-green.svg")

.btn__circled--close
  background-image: url("../images/svgs/window-close-green.svg")

.btn__circled--close--red
  background-image: url("../images/svgs/window-close-red.svg")

.btn__circled--import
  background-image: url("../images/svgs/external-link-alt-green.svg")

.btn__circled--edit
  background-image: url("../images/svgs/pen-green.svg")

.btn__circled--remove
  background-image: url("../images/svgs/times-red.svg")

.btn__circled--pdf
  background-image: url("../images/svgs/pdf.svg")

.btn__circled--print
  background-image: url("../images/svgs/print.svg")

.btn--load-more
  margin-top: 3rem

.btn__scroll
  @include square(3rem, 3rem)
  padding: 0.7rem
  border-radius: 50%
  opacity: 0
  pointer-events: none
  position: fixed
  bottom: 2rem
  right: 2rem
  transition: opacity .5s ease

.btn__scroll--visible
  pointer-events: auto
  opacity: 1
