.cards__container
  @include grid-cards($grid-gap: 3rem)

.card__item
  background-color: $gray
  padding: 1rem
  transition: all $quick-transition
  align-self: start

  &:hover
    box-shadow: 0px 4px 10px 1px $cal-poly-pomona-green

  & * .btn__circled
    margin-left: 0.3rem

  & > *:not(:last-of-type)
    margin-bottom: 0.5rem

  img
    width: 100%
