body
  font-family: sans-serif
  position: relative
  line-height: $default-rem
  font-size: $default-font
  scroll-behavior: smooth
  overflow-x: hidden
  height: 100vh

  @media screen #{$portable}
    font-size: 1rem

.disabled-cursor
  cursor: not-allowed !important

.absolute-right
  position: absolute
  right: $default-rem
  top: $default-rem

.buttons-wrapper
  display: flex
  flex-direction: row
  justify-content: space-between

  @media screen #{$portable}
    flex-direction: column
    align-items: center

    > *
      margin-bottom: 1rem

.text-center
  text-align: center

.capitalized
  text-transform: capitalize

.red-text
  color: $red !important

.cal-poly-pomona-green
  color: $cal-poly-pomona-green

.hidden
  display: none !important

.centered-element
  margin: 0 auto

.t-margin--small
  margin-top: 0.5rem

.t-margin
  margin-top: 1rem

.r-margin--big
  margin-right: 2rem

.r-margin
  margin-right: 1rem

.r-margin--small
  margin-right: 0.5rem

.b-margin--small
  margin-bottom: 0.5rem

.b-margin
  margin-bottom: 1rem

.removed
  display: none
  z-index: -1

.full-width
  width: 100%

.pointer
  cursor: pointer
