details[open]
  .dialog__background
    background: $dialog-content
    display: block
    position: fixed
    top: 0
    right: 0
    left: 0
    bottom: 0
    z-index: 1

  h1, h2, h3
    color: $cal-poly-pomona-green
    margin-bottom: $default-rem

details-dialog, .dialog__container
  position: fixed
  margin: 10vh auto
  padding: $default-rem
  top: 0
  left: 50%
  transform: translateX(-50%)
  width: 80%
  height: 100%
  max-width: 45rem
  max-height: 30rem
  background-color: $gray
  box-shadow: 0 0 6px 0 $gray
  z-index: 999

.dialog-container
  height: 100%
  display: flex
  flex-direction: column
  margin-top: 1rem

summary
  &:focus
    outline: none

summary::-webkit-details-marker
  display: none

summary.btn__circled
  @include square(2.75rem, 2.75rem)

details-dialog.danger-warning, .dialog__container.danger-warning
  max-width: 33rem
  max-height: 25rem
  box-shadow: 0 0 6px 0 $red
