.flash
  display: flex
  align-items: center
  justify-content: center
  position: relative
  padding: $default-rem * .3 $default-rem * 1.4
  color: $white
  font-weight: 700
  font-size: 1.3rem
  transition-property: all
  transition-duration: 1.5s
  transition-timing-function: cubic-bezier(0, 1, 0, 1)
  overflow-y: hidden

  @media screen #{$mobile-land}
    font-size: 1rem

  @media screen #{$mobile-port}
    font-size: 1rem

  & > .icon--error, .icon--check
    margin-right: $default-rem * .4

  & > .icon--close-error, & > .icon--close-notice
    position: absolute
    right: $default-rem / 4

.flash--error
  background-color: $light-red
  border: 3px solid $red

.flash--notice
  background-color: $green-sheen-light
  border: 3px solid $green-sheen

.flash-closed
  padding: 0 $default-rem * 1.4
  height: 0
  border: 0
