.icon
  background-size: contain
  background-repeat: no-repeat
  background-position: center
  width: $default-rem
  height: $default-rem

.icon--error
  background-image: url("../images/svgs/exclamation-red.svg")

.icon--check
  background-image: url("../images/svgs/check-green.svg")

.icon--close-error
  cursor: pointer
  background-image: url("../images/svgs/window-close-red.svg")

.icon--close-notice
  cursor: pointer
  background-image: url("../images/svgs/window-close-green.svg")

.icon--close-tag
  cursor: pointer
  background-image: url("../images/svgs/times-white.svg")

.icon__tag
  position: absolute
  top: 0.5rem
  right: 0.5rem

.icon--2x
  width: $default-rem * 2
  height: $default-rem * 2
