.heading-image
  @include square($default-rem * 2, $default-rem * 2)
  margin-left: 15px
  position: absolute
  top: 75px

  @media screen #{$portable}
    @include square($default-rem * 1.33, $default-rem * 1.33)
    top: 38px
