.field
  display: flex
  flex-direction: column
  margin-bottom: $default-rem

  & > label
    color: $cal-poly-pomona-green
    font-size: $default-font * 1.3
    font-weight: 700
    margin-bottom: 5px

    &::first-letter
      text-transform: capitalize

    @media screen #{$portable}
      font-size: 1rem

.field--checkbox
  display: inline-block

  & > input[type="checkbox"], label
    cursor: pointer
  & > label
    position: relative
    bottom: 10px

textarea
  @include default-input($color: $green-sheen, $padding: $default-rem)
  resize: none

input[type="text"], input[type="search"], input[type="url"],
input[type="number"], input[type="email"], input[type="password"]
  @include default-input($color: $green-sheen, $padding: $default-rem * .5)

input[type="search"]
  background-image: url("../images/svgs/search-green.svg")
  background-repeat: no-repeat
  background-position: 1px
  background-size: 30px
  padding-left: $default-rem * 1.4
  font-size: $default-font * 1.3
  border-top: 0
  border-left: 0
  border-right: 0

  &:focus
    box-shadow: 0 8px 5px -4px $green-sheen

input[type="checkbox"]
  @include square($default-rem * 1.25, $default-rem * 1.25)
  appearance: none
  writing-mode: none
  border: 1px solid $green-sheen
  border-radius: 0
  outline: none
  margin-right: $default-rem * 0.5

  &:checked
    background-image: url("../images/svgs/check-green.svg")
    background-repeat: no-repeat
    background-size: $default-rem * 1
    background-position: center
    background-color: $white
    box-shadow: 0 0 5px 0 $green-sheen

select
  font-size: 1rem
  border: 1px solid $green-sheen
  background-color: $white
  height: 2.75rem
  outline: none
  text-transform: capitalize
  padding-left: 0.5rem

input[type="file"]
  width: 0.1px
  height: 0.1px
  opacity: 0
  overflow: hidden
  position: absolute
  z-index: -1

input[type="file"] + label
  color: $white
  font-size: $default-rem
  text-align: center
  margin: 1rem 0
  padding: 1rem
  background-color: $green-sheen
  display: inline-block
  cursor: pointer
  pointer-events: all

  @media screen #{$portable}
    font-size: $default-rem - 0.5rem

input[type="file"]:focus + label,
input[type="file"] + label:hover
    background-color: lighten($green-sheen, 10%)

input[type="file"]:focus + label,
input[type="file"] + label:active
  background-color: $green-sheen
