.link
  color: $cal-poly-pomona-green
  font-weight: 700
  transition: color $quick-transition

  &:hover
    color: $turquise-green

  &:active
    color: $cal-poly-pomona-green

.link--underline
  text-decoration: underline

.link__disabled
  color: darken($gray, 10%)
  text-decoration: none
  transition: none
  pointer-events: none

  &:hover
    color: darken($gray, 10%)

  &:active
    color: darken($gray, 10%)
