.loader
  @include square(10rem, 10rem)
  background-image: url('../images/svgs/spinner-green.svg')
  background-size: 10rem
  margin: 5rem auto 2rem auto

.paginate__loader[data-target="search.loader"]
  background-image: url('../images/svgs/spinner-dark-green.svg')
  position: fixed
  top: 25%
  left: 25%
  right: 25%
  z-index: 2
