nav
  @include hidden-print
  height: 140px
  background-color: $cal-poly-pomona-green
  display: flex
  align-items: center
  justify-content: space-between
  flex-direction: row
  margin-bottom: 0

  a, input
    color: $white
    font-weight: 700

  @media screen #{$portable}
    height: $default-rem * 3

    a, input
      width: 150px
      padding: 0 45px
      color: $white
      font-size: 1rem
      text-transform: capitalize
      cursor: pointer

.nav__link
  @include square(100px, 60px)
  padding: 0 10px 15px 10px
  display: flex
  position: relative
  justify-content: center
  align-items: center
  cursor: pointer
  color: $white
  background: none
  border: none
  outline: none

  & > span
    font-size: $default-rem
    position: absolute
    bottom: -10px
    text-transform: capitalize

    @media screen #{$portable}
      font-size: 1rem

.nav__link:hover
  &::before
    transition-property: width, height, background-size
    transition-duration: .3s
    transform-style: ease
    @include square(50px, 50px)
    background-size: 50px

.nav__link::before
    content: ""
    @include square(40px, 40px)
    display: block
    background-repeat: no-repeat
    background-size: 40px
    transition-property: width, height, background-size
    transition-duration: .3s
    transform-style: ease

.nav__link--account::before
  background-image: url('../images/svgs/cogs-white.svg')

.nav__link--sign-in::before
  background-image: url('../images/svgs/sign-in-alt-white.svg')

.nav__link--sign-out::before
  background-image: url('../images/svgs/sign-out-alt-white.svg')

.nav__link--features::before
  background-image: url('../images/svgs/sitemap-white.svg')

.nav__link--register::before
  background-image: url('../images/svgs/user-plus.svg')

.nav__link--contact::before
  background-image: url('../images/svgs/mail-bulk.svg')

.nav__link--buckets::before
  background-image: url('../images/svgs/book-open-white.svg')

.nav__link--recipes::before
 background-image: url('../images/svgs/scroll.svg')

.nav__link--root
  width: 140px

  &::before
    background-image: url('../images/svgs/meal.svg')

  @media screen #{$portable}
    display: none

.nav__link--form
  height: 78px

.nav__link--mobile
  display: none

  @media screen #{$portable}
    display: flex
    margin-left: 30px
    padding: 0 !important

ul.nav__desktop
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center
  margin-bottom: 0

  @media screen #{$portable}
    display: none

details.nav__mobile
  display: none

  @media screen #{$portable}
    display: flex

    summary
      @include square(40px, 40px)
      display: block
      background-image: url('../images/svgs/ellipsis-v-white.svg')
      background-repeat: no-repeat
      background-size: 15px

    details-menu
      position: absolute
      right: 27px
      top: 55px
      display: flex
      flex-direction: column
      justify-content: start
      align-items: start
      list-style: none
      border: 3px solid $dark-jungle-green
      background-color: $green-sheen-light
      z-index: 9999

      li
        width: 150px
        padding: 5px 10px
        text-align: center

      li:first-of-type
        padding-top: 10px
      li:last-of-type
        margin-bottom: 10px

      li > * > input
        appearance: none
        background: none
        border: none
        outline: none
        padding: 0
        text-align: center
