ul.validation__container
  margin: 0 auto 2rem auto
  display: flex
  align-items: flex-start
  justify-content: flex-start
  flex-direction: column
  background-color: $light-red
  border: 3px solid $red
  padding: $default-rem
  color: $white
  font-size: $default-font * 1.2

  @media screen #{$portable}
    font-size: 1rem

  & > li
    position: relative
    padding-left: $default-rem
    margin-bottom: $default-rem * .5

  & > li:last-of-type
    margin-bottom: 0

  & > li:before
    content: ""
    width: $default-rem
    height: $default-rem
    position: absolute
    left: 0
    background-size: contain
    background-repeat: no-repeat
    background-image: url('../images/svgs/exclamation-red.svg')
