<!DOCTYPE html>
<html lang="<%= I18n.locale %>" dir="ltr">
  <head>
    <title>Kitchen Stuff <%= ("| #{title}") if title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= @meta_tags.meta_tags[:description] %>">
    <meta name="keywords" content="<%= @meta_tags.meta_tags[:keywords] %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%- if not_cached_page? %>
      <meta name="turbolinks-cache-control" content="no-cache">
    <% end %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>
    <main class="container" role="main">
      <header class="main-header">
        <%= render partial: 'shared/navbar' %>
        <%= render partial: 'shared/flash' %>
      </header>
      <section class="main-section">
        <%= yield %>
      </section>
      <%= render partial: 'shared/scroll_button' %>
      <%= render partial: 'shared/footer' %>
    </main>
  </body>
</html>
