<!DOCTYPE html>
<html lang="<%= I18n.locale %>" dir="ltr">
  <head>
    <meta charset="utf-8">
    <style>
      body {
        font-size: 21px;
        font-family: sans-serif;
      }

      h1 {
        width: 500px;
        font-size: 36px;
        font-weight: 700;
        color: #1B4F30;
      },

      h3 {
        font-size: 28px;
        font-weight: 700;
        color: #1B4F30;
      }

      .container {
        height: 28cm;
        width: 100%;
        position: relative;
      }

      .footer {
        position: absolute;
        top: 0;
        right: 5px;
      }

      .horizontal__list__item {
        width: 400px;
        word-break: break-word;
      }

      img {
        max-width: 800px;
        max-height: 800px;
      }

      table {
        width: 400px;
        text-align: left;
      }

      td, th {
        border: 3px solid #EAF0ED;
        padding: 10px;
      }

      ul, li { margin: 0; }
      th { font-weight: 700; }
      ol { text-indent: 25px; }
      .margin-bottom { margin-bottom: 10px; }
      .margin-bottom-small { margin-bottom: 5px; }
      .horizontal__list { display: inline-block; }
    </style>
  </head>
  <body class="container">
    <%= yield %>

    <h3 class="footer">
      <%= "#{t('views.labels.app')} - #{Time.zone.now.strftime('%Y')}" %>
    </h3>
  </body>
</html>
